@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Multi Record Query";

    //we need the categories from the database
    // on each and every pass, therefore
    // we can access the data globally
    var db = Database.Open("NWDB");
    var ddlcommand = @"SELECT CategoryID, CategoryName
                        FROM Categories
                        ORDER BY CategoryName";
    //we are retrieving, possibly, multiple records from a database table (0, 1 or more)
    //therefore we need to use the .Query() execution
    var ddlResults = db.Query(ddlcommand);
    var categoryselection = "0";
}

@section banner{
    <div>
        <h3>Form Using Database: Multi Record Query</h3>
    </div>}

@if (IsPost)
{
    //retrieve the selection from the ddl
    categoryselection = Request.Form["CategoryList"];
    //test for the prompt line selection
    if (categoryselection.Equals("0"))
    {
        <p><span style="color:firebrick">Make a selection from the category list</span></p>
    }
    else
    {
        @*<p>Selected @categoryselection</p>*@
        //determine if there is anything to display
        // for the selected category
        //execute a query against the product table
        var querysearch = @"SELECT ProductID
                            FROM Products
                            WHERE CategoryID = @0";
        var results = db.Query(querysearch, categoryselection);
        //to test if any records were returned from the sql query
        // use .Count() == 0 (no records reurned)
        if (results.Count() == 0)
        {
            <p><span style="color:firebrick">No products found for category list selection.</span></p>
        }
        else
        {
            //<p><span style="color:green">Category selection has @results.Count() products</span></p>
            //pass the category id to anoth page to display the list
            //      of products
            // syntax
            //      pagename.ext?label=value&label2=value.....
            // pagename.ext is the page
            // ? indicates parameter(s) to follow
            // parameter: label=value
            // & seperates multiple parameters

            Response.Redirect("WebGridDemo.cshtml?cid=" + categoryselection);
        }
    }
}
else
{
    categoryselection = "0";
}

<form id="theForm" method="post">
    <div class="row">
        <div class="offset-3">
            <label for="CategoryList">Select a category</label>&nbsp;&nbsp;
            <select name="CategoryList" id="CategoryList">
                @* prompt line *@
                <option value="0">select ....</option>
                @* loop through the record collection for the Categoiries
                    for each record we need to create a line in the
                     dropdownList
                    for each record we will have a value of the ID and display text of the name*@
                @foreach (var catitem in ddlResults)
                {
                    //to retain the selection in your list
                    // using the selected value of the user
                    // we need to match the selection value
                    // against the current catItem being processed
                    if (categoryselection == catitem.CategoryID.ToString())
                    {
                        <option value="@catitem.CategoryID" selected>
                            @catitem.CategoryName
                        </option>

                    }
                    else
                    {
                        <option value="@catitem.CategoryID">
                            @catitem.CategoryName
                        </option>

                    }


                }
            </select>&nbsp;&nbsp;
            <button type="submit" name="theButton" id="TheButton"
                    value="submit" class="btn btn-primary">
                Search
            </button>
        </div>
    </div>
</form>


